In [35]:
import pandas as pd 
import numpy as np
df_16 = pd.read_csv("df_16.csv")
df_17 = pd.read_csv('df_17.csv')
df_18 = pd.read_csv('df_18.csv')
df_19 = pd.read_csv('df_19.csv')

In [40]:
df_16['year'] = str(2016)
df_17['year'] = str(2017)
df_18['year'] = str(2018)
df_19['year'] = str(2019)
df_all = df_16.append([df_17, df_18, df_19], sort = False)
df_all.drop(df_all.columns[0], axis = 1, inplace = True)
df_all.head()

,Country,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,continent,year
0,Denmark,7.526,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532,Europe,2016
1,Switzerland,7.509,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033,Europe,2016
2,Iceland,7.501,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747,Europe,2016
3,Norway,7.498,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758,Europe,2016
4,Finland,7.413,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040,Europe,2016

In [41]:
df_all.to_csv('df_all.csv')